* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E1014;
    color: rgb(255, 255, 255);

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 75px 40px 0 40px;
}

.container_section_one {
    margin-top: 60px;
    text-align: center;
}

.container_section_one h1 span {
    color: #9747FF;
}

.container_section_one h1 {
    font-size: 64px;
}

.container_section_one p {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.container_section_one_button {
    background-color: #8233E8;
    margin: 40px 44%;
    border-radius: 36px;
    padding: 10px;
}

.container_section_one a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.container_section_one div img {
    margin: 40px;
}

@media(max-width: 1300px) {
    .container_section_one_button {
        margin: 40px 35%;
    }
}

@media(max-width: 768px) {
    .container_section_one img {
        width: 659px;
        height: 446px;
    }

    .container_section_one p {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }


    .container_section_one_button {
        margin: 40px 25%;
    }
}

@media(max-width: 600px) {
    .container_section_one img {
        width: 341px;
        height: 230px;
    }
}