* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E1014;
    color: rgb(255, 255, 255);

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 75px 40px 0 40px;
}

.container_section_one {
    margin-top: 60px;
    text-align: center;
}

.container_section_one h1 span {
    color: #9747FF;
}

.container_section_one h1 {
    text-align: center;
    font-size: 64px;
}

.container_section_one p {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.container_section_one_button {
    background-color: #8233E8;
    margin-top: 40px;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 36px;
    padding: 10px;
}

.container_section_one a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.container_section_one div img {
    margin: 40px;
}